<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Community Warehouse: Communities</title>
    </head>
    <body>
        <div class="container">
            <h1> Communities </h1>
            <a href="/"><p>Go Back to Main Page</p></a>
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron form-group">
                        <form action="/community_create" method="post">
                            <label for="new_community_name">Create New Community:</label>
                            <input id="new_community_name" name="new_community_name" type="text" required class="form-control" placeholder="Enter a name for your community"><br>
                            <button class="btn btn-success" type="submit">Submit</button><br>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>Existing Communities: </h2>
                        {% if current_communities is not empty %}
                        {% for community in current_communities %}
                            <li><a href="/community{{community.getId}}">{{community.getName}}</a></li>
                        {% endfor %}<br>
                        <a href="/delete_all_communities" type="button" class="btn btn-danger">Delete All</a>
                        {% else %}
                            <h4>There are no communities yet</h4>
                            <img class="img-responsive" src="/img/community.jpg">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
