<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Community Warehouse</title>
    </head>
    <body>
        <div class="container text-center">
            <h1> SPLASH PAGE!</h1>
            <div class="jumbotron">
                <h3>The "WHY" section of our idea:</h3>
                <p>Lorem ipsum dolor sit amet, ei quo ponderum facilisis. Ne pro veri brute putant, eripuit tractatos ne his, cu oratio aliquam labores sit. Duo an senserit disputando, has docendi conclusionemque in, est ut tractatos urbanitas. Fabellas nominati erroribus eu duo, semper cetero eripuit te vix. Quo antiopam temporibus cu. Te munere facilis epicuri pri, et impetus facilisis neglegentur vim. Omnium malorum delicata ex nec. Sea iusto graeco id, at per magna alterum fuisset. Tacimates constituam ea mei.</p>
            </div>
            <a href="/members" type="button" class="btn btn-info"><h2>Members</h2></a>
            <a href="/items" type="button" class="btn btn-warning"><h2>Items</h2></a>
        </div>
    </body>
</html>
